# Pointing Experiment

## Testdesign

In our study we wanted to conduct an pointing experiment

### Participants

Due to limited ressources, the study was only conducted by two male participants with good computer knowledge.
The small number of participants should be consider in the results.

### Setup

### Variables

Independent variables: 
    - Order of the tests
    
Dependent variables: 
    - reaction time 
    - errors. 
    
Controlled variables: pointing device (mouse), screen resolution, screen size, screen position, environment.

## Package import

In [1]:
import pandas as pd
import matplotlib
from matplotlib import pyplot as plt
from scipy import stats
import numpy as np

## Import data via csv

In [2]:
#import csv data
headerlist= ["user_id", "current_size", "max_size", "use_novel_technique",
                    "elapsed_repetitions", "target", "click_offset", "distance", "time",
                    "errors", "timestamp"]

df_data = pd.read_csv('result.csv', names= headerlist)
df_data

,user_id,current_size,max_size,use_novel_technique,elapsed_repetitions,target,click_offset,distance,time,errors,timestamp
0,1,"[10, 5]",1000,True,1,"(900.0, 500.0, 75.0)","(0.0, 0.0)",0,735,0,2021-05-12T14:47:01
1,1,"[10, 5]",1000,True,2,"(700.0, 900.0, 75.0)","(0.0, 0.0)",0,862,0,2021-05-12T14:47:02
2,1,"[10, 5]",1000,True,3,"(700.0, 100.0, 75.0)","(0.0, 0.0)",0,849,0,2021-05-12T14:47:03
3,1,"[10, 5]",1000,True,4,"(900.0, 300.0, 75.0)","(0.0, 0.0)",0,792,0,2021-05-12T14:47:04
4,1,"[10, 5]",1000,True,5,"(700.0, 900.0, 75.0)","(0.0, 0.0)",0,781,0,2021-05-12T14:47:05
...,...,...,...,...,...,...,...,...,...,...,...
115,4,"[10, 5]",1000,False,6,"(1300.0, 100.0, 75.0)","(-5.0, -29.0)",29,923,0,2021-05-12T14:50:45
116,4,"[10, 5]",1000,False,7,"(300.0, 900.0, 75.0)","(-18.0, 11.0)",21,920,0,2021-05-12T14:50:46
117,4,"[10, 5]",1000,False,8,"(1900.0, 900.0, 75.0)","(30.0, 33.0)",45,1023,0,2021-05-12T14:50:47
118,4,"[10, 5]",1000,False,9,"(1700.0, 700.0, 75.0)","(-23.0, 20.0)",30,1050,0,2021-05-12T14:50:48
119,4,"[10, 5]",1000,False,10,"(100.0, 900.0, 75.0)","(-13.0, 19.0)",23,1420,0,2021-05-12T14:50:49

In [3]:
#group data per condition
df_cond_1 = df_data[df_data['current_size'] == '[10, 5]']
df_cond_2 = df_data[df_data['current_size'] == '[20, 10]']
df_cond_3 = df_data[df_data['current_size'] == '[8, 4]']

In [4]:
#group data if novel pointing technique is used or not
df_novel_true = df_data[df_data['use_novel_technique'] == True]
df_novel_false = df_data[df_data['use_novel_technique'] == False]

## Evaluation